.container {
  color: var(--color-light-100);
}

.link {
  background-color: var(--color-warning-500);
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-m);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);

  &:hover,
  &:focus-visible {
    background-color: var(--color-light-100);
    outline: var(--color-warning-500);
    color: var(--color-warning-500);
  }

  &:active {
    background-color: var(--color-warning-700);
    color: var(--color-light-100);
  }
}