.container {
  padding: 100px;
}

.title {
  color: var(--color-light-100);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}

.containerCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}