.containerVertical,
.containerHorizontal {
  background-color: var(--color-light-300);
  border-radius: 5px;
  padding: 15px;
}

.containerVertical {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 250px;
  padding: 15px;
}

.containerHorizontal {
  display: grid;
  grid-template-rows: 184px auto;
  grid-template-columns: 1fr 2fr;
  max-width: 900px;
  gap: 25px
}

.containerContent {
  display: flex;
  flex-direction: column;

  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;
}

.img {
  border-radius: 5px;
  max-width: 250px;
  max-height: 250px;
  background-color: var(--color-dark-100);
  object-fit: cover;

  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
}

.title {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
}

.containerPrice {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.price {
  text-decoration: line-through;
  color: var(--color-dark-100);
  font-size: var(--font-size-m);
}

.newPrice,
.commonPrice {
  font-size: var(--font-size-xxl);
  color: var(--color-success-700);
  font-weight: var(--font-weight-bold);
}

.commonPrice {
  color: var(--color-dark-500);
}

.discount {
  font-size: var(--font-size-m);
  color: var(--color-danger-300);
  font-weight: var(--font-weight-bold);
}

.containerReviews {
  padding-top: 10px;
  padding-bottom: 25px;
  display: flex;
  gap: 15px;
  color: var(--color-dark-100);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
}

.containerRating  {
  display: flex;
}

.buttonContainer {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
  margin-top: auto;
}

.buttonQuantity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttonQuantityCenter {
  justify-content: space-between;
}

.buttonQuantityStart {
  justify-content: flex-start;
}