.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-300);
  border-radius: 10px;
  padding: 30px;
  max-width: 500px;
  margin: 100px auto;
}

.title {
  font-size: 28px;
  color: var(--color-warning-700);
  margin: 0;
  text-align: center;
}

.containerData {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 2px solid var(--color-dark-100);
  border-radius: 5px;
  padding: 10px;
}

.containerLink {
  color: var(--color-light-100);
}

.link {
  background-color: var(--color-warning-500);
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-m);
}